<%= form_for @changeset, @action, fn user -> %>
  <div class="form-group">
    <%= label user, :name, class: "control-label" %>
    <%= text_input user, :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label user, :username, class: "control-label" %>
    <%= text_input user, :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label user, :password, class: "control-label" %>
    <%= text_input user, :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>